html, body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 18px;
}

body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Guesses span {
	color: #e84c3d;
	font-weight: bold;
	padding-left: 10px;
	text-transform: lowercase;
}

#Guesses, #Lives {
	padding-top: 10px;
	text-transform: uppercase;
}

h1 {
	color: #fff;
}

.hide {
	display: block !important;
	visibility: hidden;
}

.jumbotron {
	box-shadow: 0 0 50px #666;
}

.letter-box {
	border-bottom: 4px solid #e84c3d;
	box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	height: 30px;
	width: 30px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.show {
	visibility: visible;
}